<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Order</title>
</head>

<body>
    <h1>Edit Order</h1>
    <form action="/orders/<%=order._id%>?_method=PUT" method="POST">
        <div>
            <label for="destination">Destination</label>
            <input type="text" id="destination" name="order[destination]" value="<%=order.destination %>">
        </div>
        <div>
            <label for="customer">Customer</label>
            <input type="text" id="customer" name="order[customer]" value="<%= order.customer%>">
        </div>
        <div>
            <label for="deliveryAgent">Delivery Agent</label>
            <input type="text" id="deliveryAgent" name="order[deliveryAgent]" value="<%= order.deliveryAgent%>">
        </div>
        <button>Update Order</button>
    </form>
    <a href="/orders/<%= order._id%>">Back To Order</a>

</body>

</html>